<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>layout3</title>
  <link rel="stylesheet" href="layout3.css">
</head>
<body>

<div class="container">

  <header> 
    <div class="wrapper">
      <div class="title">
        <a class="name" href="#"><strong>Site Title</strong></a>
      </div>
      <div class="list">
        <ul class="items">
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
          <li><a href="#">Item 4</a></li>
          
        </ul>
      </div> 
    </div> 
  </header>
      
    <main>
      <nav>
        <h2>Nav</h2>
        <ul class="options">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Clients</a></li>
          <li><a href="#">Contact Us</a></li> 
        </ul>
      </nav>
      <article>
      <h2>Main Content</h2>
      <h3>I'm first in the source order</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit voluptates repudiandae, neque dicta dolorum impedit hic sed distinctio doloribus beatae provident ducimus error, molestiae porro debitis voluptate modi dolores nesciunt.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum maxime officia voluptate accusantium aut itaque, obcaecati quasi pariatur consectetur numquam assumenda aspernatur, vitae distinctio quos laborum reprehenderit, iste laboriosam earum.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam necessitatibus doloremque eius deleniti dolores ea cupiditate ut explicabo vel vero. Deserunt pariatur eligendi asperiores delectus id nulla maiores consectetur fugiat.</p>
      
      <div class="copyright">Copyright © 2017</div>
    
    </article>

     

    </main>
    <aside>
      <ul>
        <h2>Sidebar</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores pariatur deleniti qui exercitationem eaque aliquid itaque tempora illo nostrum, neque minus possimus quas perferendis atque ad accusamus nemo cumque molestiae.</p>
      </ul>
    </aside>
    
  </div>

</div>
  
</body>
</html>